
/*
*
* Global Styles
*
*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.Header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100vw;
  background-color: #292d2a;
}
.Header a {
  color: #fff;
}
.Header .Logo {
  padding: 1em;
}

.Footer a {
  color: #fff;
}
