
/*
*
* Global Styles
*
*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.Header a {
  color: #fff;
}

.Footer a {
  color: #fff;
}
